* {
  margin: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  background: rgb(211, 215, 233);
  border-radius: 5px;
  border: 2px solid #000;
}
.form {
  display: flex;
  justify-content: center;
}

.datashow {
  margin: 30px 70px 0px 70px;

}
.datapart {
  margin: 5px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 15px;
}

.datapart h4 {
  color: black;
  font-size: 25px;
}
.datapart h5 {
  color: black;
  font-size: 18px;
}
